<h1>Редактирай група от ключове</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.token_group_path(@conn, :update, @token_group)) %>

<span><%= link "Назад", to: Routes.token_group_path(@conn, :index) %></span>
