<h1>С право на глас</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Регистриран</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.is_used %></td>

    </tr>
<% end %>
  </tbody>
</table>

